/*@font-face {
  font-family: "Avenir";
  src: url('../fonts/avenir/AvenirLTStd-Light.woff2') format('woff2'), 
       url('../fonts/avenir/AvenirLTStd-Light.woff') format('woff'), 
       url('../fonts/avenir/AvenirLTStd-Light.ttf')  format('truetype')
}*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Avenir", sans-serif;
	font-weight: 100;
	color: #2E3030;
	font-size: 12px;
}

/*Just for this document*/

#wrapper {
	width: 90%;
	margin: 0 auto;
	clear: both;
	box-sizing: content-box;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E9ECF2;
}

.sectionheader {
	padding-bottom: 20px;
	font-size: 10px;
	color: #9B9B9B;
}

/*End just for this document*/

/*Begin Styles for desktop*/

/*Navigation stuff*/

nav {
	height: 72px;
	background: #FFFFFF;
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.10);
	box-sizing: border-box;
	padding: 30px;
	z-index: 2;
	position: relative;
}

nav a {
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	color: #07356A;
	text-transform: uppercase;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

nav a:active, nav a:hover {
	color: #0196E6;
	border-bottom: 2px solid;
	padding-bottom: 22px;
}

nav a.utilitylink, nav a.utilitylink:hover {
	color: #9B9B9B;
	float: right;
	border-bottom: none;
}

.logo {
	height: 34px;
	width: 112px;
	margin-top: -12px;
	padding-left: 30px;
	padding-right: 30px;
}

.nodeco:hover {
	border-bottom: none;
	padding-bottom: 0;
}

#mobilenav {
	display: none;
}

/*Typography for desktop*/

h1 {
	font-size: 5em;
	/*line-height: 72px;*/
	padding-bottom: 20px;
	font-weight: 100;
}

h2 {
	font-size: 3.33em;
	/*line-height: 49px;*/
	font-weight: 100;
	padding-bottom: 20px;
}

h3 {
	font-size: 2.917em;
	/*line-height: 40px;*/
	font-weight: 100;
	padding-bottom: 15px;
}

h4 {
	font-size: 1.6667em;
	/*line-height: 26px;*/
	font-weight: 100;
	padding-bottom: 10px;
}

h5 {
	font-size: 1em;
	/*line-height: 16px;*/
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom: 0.833em;
}

h6 {
	font-size: 1em;
	font-weight: 200;
	/*line-height: 21px;*/
	color: #585959;
	padding-bottom: 0.833em;
}

p {
	font-size: 1.4166em;
	/*line-height: 26px;*/
	color: #585959;
	padding-bottom: 10px;
}

h5.breadcrumb {
	font-size: 9px;
}

/*The footer*/

footer {
	background: #2E3030;
	box-sizing: border-box;
	padding: 65px;
	margin-top: 20px;
}

footer h5 {
	font-size: 10px;
	color: #9B9B9B;
}

footer a {
	color: #fff;
	font-weight: 200;
	font-size: 12px;
	line-height: 21px;
	text-decoration: none;
}

a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	color: #0055B7;
	text-decoration: none;
}


a:hover {
	color: #0196E6;
}

/*Buttons and such*/

button {
	background: #0055B7;
	box-sizing: border-box;
	border-radius: 2px;
	border: none;
	margin: 20px auto;
	padding: 20px 40px;
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background: #0196E6;
}

button:disabled {
	background: #B3B6BF;
	cursor: not-allowed;
}

.smallbutton {
	padding: 14px 25px;
}

.buttoniconl {
	padding-left: 8px;
}

.buttoniconr {
	padding-right: 8px;
}



/*Disabled styles, just to show them visually on the page without having to do any jquery*/

.back {
	background: #E9ECF2;
	color: #B3B6BF;
}

.back:hover {
	background: #f7f7f7;
}


/*non-button CTAS and such*/

.ctablue {
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #0055B7;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.ctawhite {
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-right: 8px;
}

.ctapurple, .ctapurple:hover {
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #702082;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-right: 8px;
}

.seedetails {
	padding-left: 8px;
}

/*Color classes*/

/*You can apply this class to h1, h2, h4, h5*/
h1.white, h2.white, h4.white, h5.white {
	color: #fff;
}

/*You can apply this class to h2, h4, p*/
h2.center, h4.center, p.center {
	text-align: center;
}

/*You can apply this class to h1, h2, h3, h4*/
h1.whitecenter, h2.whitecenter, h3.whitecenter, h4.whitecenter {
	color: #fff;
	text-align: center;
}

/*You can apply this class to h4 */
h4.boldblue {
	font-weight: 400;
	color: #0055B7;
}

/*You can apply these classes to h4, h6*/

h4.boldmint, h6.boldmint {
	font-weight: 400;
	color: #00A499;
}

.boldred {
	font-weight: 400;
	color: #D6001C;
}

.boldpurple {
	font-weight: 400;
	color: #702082;
}

.boldgreen {
	font-weight: 400;
	color: #27AE60;
}


/*Only apply these classes to h6*/

.boldcenter {
	font-weight: 400;
	text-align: center;
}

.extrabold {
	font-weight: 500;
}

/*Only apply these classes to p */

.offerstext {
	color: #2E3030;
	font-weight: 200;
	font-size: 12px;
	line-height: 18px;
}

.offersubhead {
	font-size: 12px;
	font-weight: 200;
	line-height: 18px;
	text-align: center;
}

/*These styles can be used for terms links that are seen throughout the site*/
a .termslinkwhite {
	font-size: 10px;
	color: #fff;
}

a .termslinkgray {
	font-size: 10px;
	color: #9B9B9B;
}

/*Used for legal stuff*/
.smalltextwhite {
	font-size: 7px;
	color: #fff;
}

.smalltextgray {
	font-size: 7px;
	color: #2E3030;
}


/*Mobile styles */
/*If you need guidance on other breakpoints let me know abby@motivatedesign.com*/

@media only screen and (max-width: 750px) {

body {
	font-family: "Avenir", sans-serif;
	font-weight: 100;
	color: #2E3030;
}

h1 {
	font-size: 50px;
	line-height: 65px;
}

h2 {
	font-size: 34px;
	line-height: 46px;
}

h3 {
	font-size: 24px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 26px;
}

p {
	font-size: 14px;
	line-height: 20px;
	color: #585959;
}

.navlink, .utilitylink {
	display: none;
}

#mobilenav {
	display: block;
	float: left;
	color: #0055B7;
	font-size: 1.2em;
}

.logo {
	margin-top: -12px;
	padding: 0;
	float: right;
}

}